accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
awscli==1.33.20
backcall==0.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
black==24.3.0
bleach==6.1.0
botocore==1.34.138
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
datasets==2.20.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.16
eval_type_backport==0.2.0
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.13.1
flake8==7.1.0
frozenlist==1.4.1
fsspec==2024.2.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.23.4
identify==2.5.36
idna==3.7
importlib_metadata==8.0.0
intel-openmp==2021.4.0
ipython==8.12.3
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
local_llama3==0.0.1
loguru==0.7.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.6.0
mkdocs-get-deps==0.2.0
mkl==2021.4.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.2.1
nodeenv==1.9.1
numpy==1.26.3
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
peft==0.11.1
pickleshare==0.7.5
pillow==10.2.0
pip==24.1.1
pipreqs==0.5.0
platformdirs==4.2.2
pre-commit==3.7.0
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pycodestyle==2.12.0
pyflakes==3.2.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
rsa==4.7.2
s3transfer==0.10.2
safetensors==0.4.3
sentry-sdk==2.7.1
setproctitle==1.3.3
setuptools==58.1.0
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smmap==5.0.1
soupsieve==2.5
stack-data==0.6.3
sympy==1.12
tbb==2021.11.0
tinycss2==1.3.0
tokenizers==0.19.1
tomli==2.0.1
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.3
trl==0.9.4
typer==0.12.3
typing_extensions==4.9.0
tyro==0.8.5
tzdata==2024.1
urllib3==1.26.19
virtualenv==20.26.3
wandb==0.17.3
watchdog==4.0.1
wcwidth==0.2.13
webencodings==0.5.1
win32-setctime==1.1.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.4
zipp==3.19.2
